.questionText {
  text-align: center;
}

.answerBox {
    float: center;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: solid;
  }

.answerNumber {
  float: left;
  flex-basis: 44%;
  padding: 1%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #003c7b;
  text-shadow: initial;
  border: 1px solid black;
  background: #deeeff;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1%;
  margin-right: 1%;
  border: 4px solid white;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 20%;
  perspective: 1000px;
  flex-basis: 44%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}